.app-container {
    padding-top: 70px;
  }
  
  html {
    height: 100%;
  }
  
  body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family:
      Inter, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial,
      sans-serif;
  }
  
  #app {
    height: 100%;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  a,
  a:focus,
  a:hover {
    color: inherit;
    outline: none;
    text-decoration: none;
  }
  
  div:focus {
    outline: none;
  }
  
  h1,h2,h3,h4,h5,h6 {
    margin: 0;
  }